<h1>URL Shortener</h1>

<ul>
	<% @urls.each do |url| %>
		<li><%= link_to url.short, show_url_path(url.short) %> ~ <%= pluralize(url.clicks, "click") %> - <a class="copy-button" data-clipboard-text="<%=root_url+url.short%>">Copy to clipboard</a> | <%= link_to "info >>", info_url_path(url.short) %></li>
	<% end %>
	<li><%=render 'form'%></li>
</ul>


<script>
	var clip = new ZeroClipboard($(".copy-button"), {
	  moviePath: "/ZeroClipboard.swf"
	});

	clip.on( 'complete', function(client, args) {
	  alert("Copied url to clipboard: " + args.text );
	} );
</script>