<%= form_for @post do |f| %>
  <div class="field">
    <%= f.text_field :title, :placeholder => "Title" %>
  </div>
  <div class="field">
    <div id="wmd-button-bar"></div>
    <%= f.text_area :content, :id => 'wmd-input', :placeholder => "Post Content Here" %>
  </div>
  <div class="field">
  	<%= f.text_field :tag, :placeholder => "Tag" %>
  </div>
  <div class="field">
  	<%= f.text_area :preview, :placeholder => "Post Preview Here" %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions"><%= f.submit %></div>
<% end %>

<script>
	  setup_wmd({
	      input: "wmd-input",
	      button_bar: "wmd-button-bar",
	      preview: "wmd-preview"
	  });
</script>