<h1>
	My Blog
</h1>

<div class="post">
	<h2>
		<%= @post.title %>
	</h2>
	<p class="post-author">Written by <%= @post.user.name %> on <%= @post.created_at.strftime("%m/%d/%Y") %></p>
	<div class="post-content">
		<%= raw @post.rendered %>
	</div>
	<% @post.tags.each do |tag| %>
		<%= tag %>
	<% end %>
</div>