<!DOCTYPE html>
<html>
<head>
  <title>JoahG.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width">
</head>
<body>
	<div class="container">
		<div class="three columns sidebar">
			<nav>
				<h3 id="logo"> Joah Gerstenberg </h3>
				<button class="mobile-nav-trigger"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<ul>
					<% if current_page?(root_url(subdomain: false)) && !current_page?(root_url(subdomain: "blog")) %>
						<li class="active">
					<%else%>
						<li>
					<%end%>
						<%= link_to "home", root_url(subdomain: false), :class => "nav_home" %>
					</li>
					<li>
						<a href="http://forum.joahg.com">forum</a>
					</li>
					<% if current_page?(root_url(subdomain: "blog")) %>
						<li class="active">
					<% else %>
						<li>
					<% end %>
						<%= link_to "blog", root_url(subdomain: "blog") %>
					</li>
					<% if current_page?(about_path) %>
						<li class="active">
					<%else%>
						<li>
					<%end%>
						<%= link_to "about", root_url(subdomain: false)+"about", :class => "nav_about" %>
					</li>
					<% if current_page?(find_path) %>
						<li class="active">
					<%else%>
						<li>
					<%end%>
						<%= link_to "find", root_url(subdomain: false)+"find", :class => "nav_find" %>
					</li>
					<li>
						<a href="mailto:me@joahg.com" class="email">email</a>
					</li>
				</ul>
			</nav>
			<span class="nav-clearfix">&nbsp;</span>
		</div>
		<div class="twelve columns offset-by-one content">
			<%= yield %>
		</div>
	</div>
</body>
</html>